[submodule "packages/svelte-icons/icons/eva-icons"]
	path = packages/svelte-icons/icons/eva-icons
	url = https://github.com/akveo/eva-icons.git
[submodule "packages/svelte-icons/icons/ant-icons"]
	path = packages/svelte-icons/icons/ant-icons
	url = https://github.com/ant-design/ant-design-icons.git
[submodule "packages/svelte-icons/icons/bootstrap-icons"]
	path = packages/svelte-icons/icons/bootstrap-icons
	url = https://github.com/twbs/icons.git
